* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: 'aclonica';
    src: url('/fonts/aclonica-regular-webfont.woff2') format('woff2'),
        url('/fonts/aclonica-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('/fonts/ubuntu-regular-webfont.woff2') format('woff2'),
        url('/fonts/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: bisque;
    background-color: #85549E;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.side-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/ekaterinabelinskaya.jpg);
    background-size: cover;
    color: white;
    font-family: "aclonica";
}


.side-panel header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.logo-header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .1rem;
    background-color: rgba(0, 0, 0, .55);
    width: 100%;
}

.logo-header h1 {
    font-size: 4rem;
}

.logo-header span {
    background-image: url(/images/temp_preferences_eco.svg);
    height: 6.5rem;
    width: 6.5rem;
    background-repeat: no-repeat;
    background-size: cover;
}


.side-panel p {
    margin-top: auto;
    font-size: small;
}

.side-panel>p a {
    text-decoration: underline;
    color: antiquewhite;

}

.side-panel>p a:hover {
    color: aqua;
}

main {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "ubuntu";
    color: aliceblue;

}

.top,
.middle,
.bottom {
    flex: 1;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
}

.top p {
    width: 80%;
    font-size: larger;
}

form {
    background-color: #7E4181;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    box-shadow: 0px 8px 30px -1px rgba(0, 0, 0, 0.15);
}
.middle>h2{
    font-style: oblique;
}

.form-row,
.middle>h2 {
    flex: 1 1 auto;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 65%;
}

.form-col {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-col>label {
    letter-spacing: .15rem;

}

.form-col>input {
    appearance: none;

}

.bottom {
    padding: 1rem;
}

button[type="submit"] {
    font-family: inherit;
    appearance: none;
    padding: .5rem 2rem;
    margin-bottom: 1rem;
    background-color: #C987B2;
    color: black;
    border: .5px solid black;
    border-radius: 3px;
    font-size: large;
    font-weight: 600;

}



button[type="submit"]:hover {
    color: purple;
    outline: 2px solid purple;

}

button[type="submit"]:active {
    background-color: #7E4181;
    color: aliceblue;
    outline:  .5px solid aliceblue;

}